*{
    background-color: aliceblue;
}
p{
    color: #000;
    padding: auto;
    margin: auto;
}

ac4a750f3bb2e213c89c1600015bfbd218e3b57f

b7d42324a052243883a433d3cd34f2a08571590b


046bf70edb28b5579ba595cb95ab9242c2452bc0